@font-face { font-family:lari; src:url(fonts/lari.otf),  url(fonts/lari.otf); /* IE9 */}
@font-face {font-family: margvela_lil;src:url('../fonts/bpg_mrgvlovani_2009.ttf');}
@font-face {font-family: margvela_caps;src:url('../fonts/bpg_mrgvlovani_caps_2010.ttf');}
@font-face {font-family: squares_lil;src:url('../fonts/bpg_square_banner_2013.ttf');}
@font-face {font-family: squares_caps;src:url('../fonts/bpg_square_mtavruli_2009.ttf');}

.error {font-family: "squares_lil"; color: #FFF; text-decoration: underline; font-size: 18px; padding: 15px; }


* {
  box-sizing: border-box;
  color: #0c0d1f;
  font: 400 15px 'Didact Gothic', sans-serif;
}
*::after, *::before {
  box-sizing: inherit;
}

html, body {
  font: 400 15px 'Didact Gothic', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1447958374760-1ce70cf11ee3?crop=entropy&fit=crop&fm=jpg&h=1080&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1920);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #0c0d1f;
  position: relative;
}

a {
  color: #ae9a51;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  outline: none;
  padding: 0 8px 8px 40px;
  height: 40px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  font-family: 'squares_lil';
  font-size: 13px;

}
input:focus {
  border-bottom-color: #66bb6a;

}

.row::after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.col {
  border-radius: inherit;
  float: left;
  margin: 0;
  padding: 30px 50px;
  position: relative;
}
.col.col-6 {
  width: calc(((100% - calc(((12 / 6) - 1) * 0px)) / 12) * 6);
}
.col.col-6:not(:last-child) {
  margin: 0 0px 0 0;
}

.login-box {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4), 0 0 0 2000px rgba(12, 13, 31, 0.3);
  left: 50%;
  position: absolute;
  top: 40%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1, 1);
          transform: translate3d(-50%, -50%, 0) scale(1, 1);
  width: 70%;
  max-width: 1024px;
}

.login-title {
  background: transparent;
  width: 60%;
  background-color: rgba(102, 187, 106, 0.7); 
  min-height: 397px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'squares_caps';
  margin-top: 180px;
  color: #FFF;
}

.login-form {
  background: #f9f0ea;
  text-align: center;
  width: 40%;
  min-height: 397px;
}
.login-form > form > *:not(:last-child) {
  margin: 0 0 20px;
}

.avatar {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: none;
  line-height: 125px;
  cursor: pointer;
  height: 100px;
  margin: 0 auto 30px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100px;
}
.avatar:hover {
  background-color: rgba(102, 187, 106, 1); 

}

.registration {
  margin: 0 0 20px;
}

.login, .passwd {
  position: relative;
}
.login::after, .passwd::after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  font: 400 16px 'FontAwesome', sans-serif;
  left: 14px;
  position: absolute;
  top: 35%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1, 1);
          transform: translate3d(-50%, -50%, 0) scale(1, 1);
  z-index: 1;
}

.login::after {
  content: '\f2be';
}

.passwd::after {
  content: '\f084';
}

.button {
  border: none;
  background: #66bb6a;
  color: #f9f0ea;
  cursor: pointer;
  display: block;
  padding: 12px;
  width: 100%;
  font-family: 'squares_lil';
}

.lost-passwd {
  margin: 30px 0 0;
  font-family: 'squares_lil';
  font-size: 12px;
}

